body{
  color: aliceblue;
}

.contact{
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 15%;
}
.top{
  background-color: lightblue;
}



p {
text-align: left;
font-size: 20px;
color: #5072A7;
font-family: "Times New Roman", Times, serif;
}

h1{
text-align: left;
font-size: 35px;
color: #5072A7;
font-family: "Times New Roman", Times, serif;
}

button {
text-align: center;
background-color: #72A0C1;
font-size: 16px;
color: white;
border: none;
}

.bottomnav ul {
  text-align: center;
  margin-bottom: 30px;
}

.bottomnav ul li {
  display: inline-block;
}

.bottomnav li a {
  padding: 5px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.bottomnav li span {
  color: black;
  padding: 5px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}


.txt_bottom {
  text-align: center;
}
