h1 {
  text-align: center;
  font-size: 35px;
}

.block{width: 80%;
margin-right: auto;
margin-left: auto;
}
.block img{width: 40%;
margin-bottom: 20px;
margin-right: 1%;
border: 3px solid black;
}

.bottomnav {
  text-align: center;
  font-size: 20px;
}
