body {
    background-color:#F5F5DC;
}

.header {
    padding-top: 10%;
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 10%;
    height: 90%;
    left: 15%;
    top: 2%;
    transform-origin: center;
}

.image img {
    border: 3px solid olive;
    border-radius: 15px;
    width: 110%;
    height: 110%;
    animation: zoomimg 2s infinite;
}

.heading1 p {
    color: olive;
    font-family: cursive;
    font-size: 3.0vw;
    position: absolute;
    width: 50%;
    left: 30%;
    bottom: 0;
    animation: moveheadding1 15s infinite;
}

.heading2 {
    font-size: 1.5vw;
    font-weight: bold;
    position: absolute;
    width: 50%;
    left: 30%;
    bottom: 0;
    animation: moveheadding2 15s infinite;
}

@keyframes zoomimg {
    0% {transform: scale(1);}
    15% {transform: scale(0.7);}
    50% {  transform: scale(0.5);}
    100% {transform: scale(0.2);}
}

@keyframes moveheadding1 {
    0% {top: -70%;
        bottom: 100%;}
    25% {top: -30%;
        bottom: 100%;}
    50% {top: 50%;
        bottom: 100%;}
    75% {top: -30%;
        bottom: 100%;}
    100% {top: -70%;
        bottom: 100%;}
}

@keyframes moveheadding2 {
    0% {top: 80%;
        bottom: 100%;}
    25% {top: 40%;
        bottom: 100%;}
    50% {top: -30%;
        bottom: 100%;}
    75% {top: 40%;
        bottom: 100%;}
    100% {top: 80%;
        bottom: 100%;}
}
/*slide*/

.frame {
    width: 97%;
    height: 5vh;
    overflow: hidden;
    margin-left: 1.5%;
}

.slidegroup {
    width: 400%;
    height: 100%;
    animation: move 45s infinite;
    text-align: center;
}

.slide {
    width: 25%;
    height: 100%;
    float: left;
}

.slide span {
    font-size: 2vw 2vh;
    font-weight: bold;
}

.slide i {
    font-size: 1.3vw 1.3vh;
}

.slide p {
    margin-top: 1%;
}

.p1 {background-color: rgb(206, 206, 70);}

.p2 {background-color: rgb(99, 131, 35);color: white;}

.p3 {color: white;}

.p4 {background-color: rgb(206, 206, 71);}

@keyframes move {
    0% {margin-left: 0%;}
    13% {margin-left: -100%;}
    26% {margin-left: -100%;}
    39% {margin-left: -200%;}
    52% {margin-left: -200%;}
    65% {margin-left: -100%;}
    78% {margin-left: -100%;}
    91% {margin-left: -0%;}
    100% {margin-left: 0%;}
}

/*background*/
.intro {
    margin-left: 1.5%;
    width: 97%;
    height: 75vh;
    position: relative;
}

.intro img {
    width: 100%;
    height: 100%;
}

.intro-text {
    border: 3px solid white;
    background-color: darkgray;
    width: 40%;
    font-size: 1.5vw;
    position: absolute;
    top: 35%;
    left: 4%;
}

.intro-text p {
    margin: 6%;
    font-size: 15px;
}

/* introtwo */

.intro-2 {
    width: 98%;
    height: 40vh;
    margin-top: 5%;
    display: inline-flex;
    position: relative;
}

.sub-intro-2 {
    border: 2px solid rgba(167, 140, 222, 0.406);
    margin-left: 9%;
    margin-right: 9%;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom left, rgba(225, 250, 151, 0.701), rgba(174, 159, 245, 0.68));
}

.intro-2-img {
    background-color: aqua;
    position: absolute;
    width: 32%;
    height: 101%;
    top: 0%;
    left: 9%;
    opacity: 50%;
    background-image: linear-gradient(to bottom left, rgba(212, 115, 238, 0.756), rgba(174, 159, 245, 0.68));
}

.intro-2-text {
    color: white;
    width: 20%;
    border: 2px solid rgb(187, 187, 98);
    position: absolute;
    top: 5%;
    left: 10%;
}

.sub-text {
    color: rgb(155, 169, 85);
    padding: 7%;
    font-size: 1.5vw 1.5vh;
}

.intro-2-text p {
    padding: 7%;
    font-size: 1.2vw 1.2vh;
}

.sub-intro-2 img {
    width: 100%;
    height: 100%;
}
/*body lotion*/

.product {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.sub {
    border: 3px solid #F5F5DC;
    height: 100%;
    padding-bottom: 20%;
}

.sub img {
    width: 50%;
    margin-left: 26%;
    margin-right: 26%;
    margin-top: 8%;
}

.sub h4{
  text-align: center;
  font-size: 11px;
  color: rgb(102, 153, 0);
}

.sub h5{
  text-align: center;
  font-size: 15px;
}

.sub p {
    text-align: center;
    font-size: 14px;
}

.sub a {
    background-color: Black;
    text-decoration: none;
    color: lightgrey;
    font-size: 11px;
    padding: 4%;
    margin-left: 34%;
}

/* -------------------modal ------------------- */
.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(232, 226, 226, 0.5);
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: all;
}

.lotion-gift {
    background-color: white;
    position: relative;
    width: 52%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lotion-gift img {
    position: absolute;
    width: 30%;
    margin: 2% auto auto 10%;
}

.title {
    margin: auto auto auto 8%;
    width: 85%;
}

.title hr {
    height: 3px;
    background-color: lightgrey;
    border: none;
}

.text {
    font-size: 1.7vw;
    width: 35%;
    margin: auto auto 0% 55%;
    padding-top: 1%;
}

.text p {
    font-size: 1.2vw;
}

.description {
    background-color: lightgrey;
    margin: -1% auto 10% auto;
    padding-bottom: 4%;
}

.description p {
    padding-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.2vw;
}

.description hr {
    height: 3px;
    background-color: white;
    border: none;
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.description a {
    background-color: white;
    color: black;
    margin-left: 8%;
    padding: 1.5%;
    font-size: 1.2vw;
    text-decoration: none;
}

.x {
    position: absolute;
    background-color: lightgrey;
    color: black;
    margin-left: 95%;
    margin-top: -2%;
    text-decoration: none;
    font-size: 15px;
    padding: 1.5%;
}

/*-- bottomnav */

.bottomnav ul {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.bottomnav ul li {
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
}

.bottomnav li a {
  padding: 5px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.bottomnav li span {
  color: black;
  padding: 5px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
}

.txt_bottom {
  text-align: center;
}

 .bottom {
color: white;
margin-left: 70%;
}

h6{
 text-align: center;
 font-size: 10px;
 color: white;
}

/*social media logos*/
.media{
margin-left: 80%;
width: 55%
}
